
<div class="home-page__body">
  <div class="home-page__container">

    <div class="menu__column">
      <i class="material-symbols-outlined" (click)="openUserPanel()">menu</i>
      <user-view-component
        (closeUserPanel) = "closeUserPanel($event)"
        [isActive] = "menuIsActive"
      ></user-view-component>
    </div>

    <div class="chats__column" >
      <app-chat-list-item
        *ngFor="let chat of chats"
        [chat]= "chat"
        [isActive]= "currentChatId == chat.id"
        (click)="selectChat(chat)"
      ></app-chat-list-item>
    </div>

    <div class="messaging__column">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


