<div class="header">
   {{chatTitle}}
  <i class="material-symbols-outlined" (click)="openChatMenu()" >More_Vert</i>
</div>

 <div class="messages__list" #messageList>
   <div class="scroll__wrapper">

     <div *ngFor="let msg of mockMessages" class="message__instance" [class.personal]="msg.authorId == currentUser.id">
       {{msg.text}}
     </div>
   </div>
 </div>

 <div class="input__container">
   <input #messageInput>
   <div class="send__button" (click)="sendMessage(messageInput.value)">
     <i class="material-symbols-outlined">send</i>
   </div>
 </div>

