<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div class="auth__body">
    <div class="auth__container">

      <div class="auth__logo">
        <img src="/assets/images/auth/logo.svg" alt="?">
      </div>

      <h1 class="auth__title">
        Kilogram
      </h1>

      <h2 class="auth__subtitle">
        Please enter your email and password.
      </h2>

      <div class="auth__input input">
        <input type="text" placeholder="email" [formControlName]="'email'">
        <small *ngIf="validate('email', 'email')">enter valid email</small>
        <small *ngIf="validate('email', 'required')">enter email</small>
      </div>

      <div class="auth__input input">
        <input type="text" placeholder="password" [formControlName]="'password'">
        <small *ngIf="validate('password', 'minlength')">enter valid password</small>
        <small *ngIf="validate('password', 'required')">enter password</small>
      </div>

      <div class="auth__checkbox">
        <input type="checkbox" [formControlName]="'remember'">
        <label class="text">Keep me signed in</label>
      </div>

      <button class="auth__button button" type="submit">
        <div class="text">Continue</div>
        <div class="button__background"></div>
      </button>

      <div class="register__button button"
           (click)="navigateToSignupPage()"
      >
        <div class="text">Create an Account</div>
        <div class="button__background"></div>
      </div>
    </div>
  </div>
</form>


